*
*/**
!dist/**/*
!package.json
!README.md
!CHANGELOG.md
!LICENSE.md
!webview/src/**/*
!webview/node_modules/monaco-editor/min/**/*
!docs/**/*
!node_modules/base64-js/**/*
!node_modules/lzma/**/*
!node_modules/messagepack/**/*
